table {
	width: 100%;
	border-collapse: collapse;
	background-color: #f7cbcbe0;
}

caption {
	margin-bottom: 8px;
	font-weight: bold;
	text-align: left;
}

th,td {
	padding: 10px;
	border: 1px solid #7b7a7bbb;
	text-align: left;
}

th {
	background-color: rgba(104, 175, 133, 0.867);
	color: #ffffff;
}

tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}

.leitura-destaque {
	background-color: #263233;
	color: #f1f1f1f1;
	padding: 20px;
}

.aviso {
	background-color: #e33b3b;
	color:#f1f1f1f1;
}